/*  Stylesheet for NLM/NCBI  Journal Publishing 3.0 Preview EPUB
    January 2009

    ~~~~~~~~~~~~~~
    National Center for Biotechnology Information (NCBI)
    National Library of Medicine (NLM)
   
    ~~~~~~~~~~~~~~
    TAD & TE 2012-08-14: Forking the main CSS stylesheet into a version suited for e-book readers
*/


/* --------------- Page setup ------------------------ */

/* page and text defaults */

body#pp-ojs-article { margin-left: 2%;
     margin-right: 2%;
     text-align: left;
}


#pp-ojs-article div > *:first-child, #pp-ojs-article td > *:first-child { margin-top:0em }

#pp-ojs-article div { margin-top: 0.5em }

#pp-ojs-articlediv.front, #pp-ojs-article div.footer { }

#pp-ojs-article .back, #pp-ojs-article .body { font-family: serif }


#pp-ojs-article table.metadata td {
    vertical-align: top }

#pp-ojs-article table.two-column td {
    width: 50% }


#pp-ojs-article div.metadata-group { margin-top: 0.5em;
  font-family: sans-serif; font-size: 75% }

#pp-ojs-article div.metadata-group > p, #pp-ojs-article div.metadata-group > div { margin-top: 0.5em }

#pp-ojs-article div.metadata-area * { margin: 0em }

#pp-ojs-article div.metadata-area > div.metadata-area { margin-left: 1em; margin-top: 0em }
#pp-ojs-article div.metadata-chunk > div.metadata-area { margin-left: 1em; margin-top: 0em }

#pp-ojs-article div.metadata-chunk { margin-left: 1em }

#pp-ojs-article div.branding { text-align: center }

#pp-ojs-article div.document-title-notes {
   text-align: center;
   width: 60%;
   margin-left: auto;
   margin-right: auto
   }

/* rules */
#pp-ojs-article hr.part-rule {
    color: red;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

#pp-ojs-article hr.section-rule {
    color: black;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

/* superior numbers which are cross-references */
#pp-ojs-article .xref {
    color: red;
    }
    
/* generated text */     
#pp-ojs-article .generated { color: gray; }

#pp-ojs-article .warning, #pp-ojs-article tex-math {
    font-size:80%; font-family: sans-serif }

#pp-ojs-article .warning {
    color: red }

#pp-ojs-article .tex-math { color: green }

#pp-ojs-article .data {
    color: black;
    }

#pp-ojs-article .formula {
    font-family: sans-serif;
    font-size: 90% }
    
/* --------------- Titling levels -------------------- */


#pp-ojs-article h1, #pp-ojs-article h2, #pp-ojs-article h3, #pp-ojs-article h4, #pp-ojs-article h5, #pp-ojs-article h6 {
   display: block;
   margin-top: 0em;
   margin-bottom: 0.5em;
   font-family: helvetica, sans-serif;
   font-weight: bold;
   color: midnightblue;
  }
/* titling level 1: document title */
#pp-ojs-article .document-title {
   text-align: center;
   }

/* callout titles appear in a left column (table cell)
   opposite what they head */
#pp-ojs-article .callout-title { text-align: right;
  margin-top: 0.5em;
  margin-right: 1em;
  font-size: 140% }
  


#pp-ojs-article div.section, #pp-ojs-article div.back-section {
  margin-top: 1em; margin-bottom: 0.5em }

#pp-ojs-article div.panel { background-color: white;
  font-size: 90%;
  border: thin solid black;
  padding-left: 0.5em; padding-right: 0.5em;
  padding-top: 0.5em; padding-bottom: 0.5em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#pp-ojs-article div.blockquote { font-size: 90%;
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#pp-ojs-article div.caption {
  margin-top: 0.5em; margin-bottom: 0.5em }

#pp-ojs-article div.speech {
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#pp-ojs-article div.verse-group {
  margin-left: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

#pp-ojs-article div.verse-group div.verse-group {
  margin-left: 1em;
  margin-top: 0em; margin-bottom: 0em }

#pp-ojs-article div.note { margin-top: 0em; margin-left: 1em;
  font-size: 85% }

#pp-ojs-article .ref-label { margin-top: 0em; vertical-align: top }

#pp-ojs-article .ref-content { margin-top: 0em; padding-left: 0.25em }

#pp-ojs-article h5.label { margin-top: 0em; margin-bottom: 0em }

#pp-ojs-article p { margin-top: 0.5em; margin-bottom: 0em }

#pp-ojs-article p.first { margin-top: 0em }

#pp-ojs-article p.verse-line, #pp-ojs-article p.citation { margin-top: 0em; margin-bottom: 0em; margin-left: 2em; text-indent: -2em }

#pp-ojs-article p.address-line { margin-top: 0em; margin-bottom: 0em; margin-left: 2em }

#pp-ojs-article ul, #pp-ojs-article ol { margin-top: 0.5em }

#pp-ojs-article li { margin-top: 0.5em; margin-bottom: 0em }
#pp-ojs-article li > p { margin-top: 0.2em; margin-bottom: 0em  }

#pp-ojs-article table.def-list { border-spacing: 0.25em;
  border-top: thin solid black }

#pp-ojs-article table.def-list td { vertical-align: top;
  border-bottom: thin solid black;
  padding-bottom: 0.5em }

#pp-ojs-article table.def-list th { vertical-align: top;
  text-align: left;
  border-bottom: thin solid black;
  padding-bottom: 0.5em }

/* text decoration */
#pp-ojs-article .label { font-weight: bold; font-family: sans-serif; font-size: 80% }

#pp-ojs-article .monospace {
	font-family: monospace;
	}

#pp-ojs-article .overline{
	text-decoration: overline;
	}
 
#pp-ojs-article a       { text-decoration: none }
#pp-ojs-article a:hover { text-decoration: underline }

/* ---------------- End ------------------------------ */

/*
   Added by HiOA
*/

#pp-ojs-article a {color: blue; text-decoration: underline;}


#pp-ojs-article h2 {
	margin-top: 1.5em;
}

#pp-ojs-article p.logo {
	text-align: center;
}

#pp-ojs-article h2.author {
	clear: both;
	text-align: center;
	margin-top: 2em;
}

#pp-ojs-article div.abstract { 
	margin-top: 0.5em;
	font-family: sans-serif;
	margin-bottom: 2em;
}

#pp-ojs-article div.footer {
	margin-top: 2em;
	border-top: thin solid gray;
	
}

#pp-ojs-article div.branding {
	border-top: thin solid black;
	padding-top: 1em;
	margin-top: 1em;
	font-size: 75%;
	font-family: sans-serif;
	color: gray;
}


#pp-ojs-article p.license {
	padding-top: 1em;
	padding-bottom: 2em;
	border-top: thin solid black;
	border-bottom: thin solid black;
	margin-top: 1em;
	margin-bottom: 1em;
}


#pp-ojs-article p.license img {
	float: left;
	margin-right: 1em;
}

/*reference-list*/
#pp-ojs-article ul.references {
	padding-left: 0;
	list-style-type: none;
}
/* tables */
#pp-ojs-article table {border: 1px solid black; width: 100%;}
#pp-ojs-article td + td {text-align: center;}

/* EH 2014-03-22: highlighting the row below the cursor with 
 * a light yellow bg, makes it easier to read tables  */
#pp-ojs-article tr:hover {background-color: #FFFB9D;}
