/* Professions and professionalism */

#container {
	width:100% !important;
	width: 940px !important;
	margin: 0px auto;
	text-align: center;
}


#navbar {
	background-color:#FFFFFF;
}

#navbar a {
	color: black;
   	font-size: 0.65em;
   	letter-spacing: 0.05em;
}


#navbar a:hover {
	color: white;
}

table.tocArticle + table.tocArticle {margin-top: 1em;}


a {text-decoration: underline;}

#main {width: 70%;
}

#footer {
    background-color: #FFFFFF;
	color: black;
   }

#header h1{
	padding: 0.5em 0 0.25em 0;
	background-color: #FFFFFF;
}

#content { 
	font-size: 0.85em;
      	padding: 0.5em 0 0;
}

body {margin: 0;
	width: 100%;
}
#leftSidebar {
    display: none;
}

#main{
	border: 0 none;}

#main h2 {
    display: block;
}
