/*  Stylesheet for NLM/NCBI  Journal Publishing 3.0 Preview EPUB
    January 2009

    ~~~~~~~~~~~~~~
    National Center for Biotechnology Information (NCBI)
    National Library of Medicine (NLM)

    ~~~~~~~~~~~~~~
    TAD & TE 2012-08-14: Forking the main CSS stylesheet into a version suited for e-book readers
*/


/* --------------- Page setup ------------------------ */

/* page and text defaults */

body { margin: .5em;
     text-align: left;
}

div { margin-top: 0.5em }

.back, .body { font-family: serif }

table.metadata td {
    vertical-align: top }

table.two-column td {
    width: 50% }

div.metadata-group { margin-top: 0.5em;
  font-family: sans-serif; font-size: 75% }

div.metadata-group > p, div.metadata-group > div { margin-top: 1em }

div.metadata-area * { margin: 0em }

div.metadata-area > div.metadata-area { margin-left: 1em; margin-top: 0em }
div.metadata-chunk > div.metadata-area { margin-left: 1em; margin-top: 0em }

div.metadata-chunk { margin-left: 1em }

div.branding { text-align: center }

div.document-title-notes {
   text-align: center;
   width: 60%;
   margin-left: auto;
   margin-right: auto
   }

/* rules */
hr.part-rule {
    color: red;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

hr.section-rule {
    color: black;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    }

/* superior numbers which are cross-references */
.xref {
    color: red;
    }

.warning, tex-math {
    font-size:80%; font-family: sans-serif }

.warning {
    color: red }

.tex-math { color: green }

.data {
    color: black;
    }

.formula {
    font-family: sans-serif;
    font-size: 90% }
/* --------------- Titling levels -------------------- */

h1, h2, h3, h4, h5, h6 {
   display: block;
   margin-bottom: 0;
   font-family: helvetica, sans-serif;
   font-weight: bold;
   color: midnightblue;
  }

/* Every other heading should have a different font family to distinguish headers */
h2, h4, h6 {font-family: "Times New Roman" , serif;}

h2 {font-size: 1.75em;}

h2+p, h3+p, h4+p, h5+p, h6+p {
	margin-top: 0.25em;
}


/* titling level 1: document title */
.document-title {
   text-align: center;
	margin: .5em auto;
   }

/* callout titles appear in a left column (table cell)
   opposite what they head */
.callout-title { text-align: right;
  margin-top: 0.5em;
  margin-right: 1em;
  font-size: 140% }

div.section, div.back-section {
  margin-top: 1em; margin-bottom: 0.5em }

div.panel { background-color: white;
  font-size: 90%;
  border: thin solid black;
  padding-left: 0.5em; padding-right: 0.5em;
  padding-top: 0.5em; padding-bottom: 0.5em;
}

.table-wrap, .panel, .fig {
	margin: 1.5em auto;
}

div.blockquote { font-size: 90%;
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

div.caption {
  margin-top: 0.5em; margin-bottom: 0.5em }

div.speech {
  margin-left: 1em; margin-right: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

div.verse-group {
  margin-left: 1em;
  margin-top: 0.5em; margin-bottom: 0.5em }

div.verse-group div.verse-group {
  margin-left: 1em;
  margin-top: 0em; margin-bottom: 0em }

div.note { margin-top: 0em; margin-left: 1em;
  font-size: 85% }

.ref-label { margin-top: 0em; vertical-align: top }

.ref-content { margin-top: 0em; padding-left: 0.25em }

h5.label { margin-top: 0em; margin-bottom: 0em }

p { margin-top: 0.5em; margin-bottom: 0em }

p.first { margin-top: 0em }

p.verse-line, p.citation { margin-top: 0em; margin-bottom: 0em; margin-left: 2em; text-indent: -2em }

p.address-line { margin-top: 0em; margin-bottom: 0em; margin-left: 2em }

ul, ol { margin-top: 0.5em }

li { margin-top: 0.5em; margin-bottom: 0em }
li > p { margin-top: 0.2em; margin-bottom: 0em  }

table.def-list { border-spacing: 0.25em;
  border-top: thin solid black }

table.def-list td { vertical-align: top;
  border-bottom: thin solid black;
  padding-bottom: 0.5em }

table.def-list th { vertical-align: top;
  text-align: left;
  border-bottom: thin solid black;
  padding-bottom: 0.5em }

/* text decoration */
.label { font-weight: bold; font-family: sans-serif; font-size: 80% }

.monospace {
	font-family: monospace;
	}

.overline{
	text-decoration: overline;
	}
 
a       { text-decoration: none }
a:hover { text-decoration: underline }

/* ---------------- End ------------------------------ */

/*
   Added by HiOA
*/

p, li {line-height: 1.25em;}
p + p {margin-top: 1em;}
.metadata-group p + p {
	margin-top: .25em;
}
.front .metadata-group {
	padding-bottom: 1em;
	margin-top: 0;
}

.front {margin-top: 0;}

h2 {
	margin-top: 1em;
}

p.logo {
	text-align: center;
	display: block;
}

p.logo img {display: inline;}

.author {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1em;
	clear: both;
	text-align: center;
}

div.abstract {
	margin-top: 0.5em;
	font-family: sans-serif;
	margin-bottom: 2em;
}

div.footer {
	margin-top: 2em;
	border-top: thin solid black;

}

div.branding {
	border-top: thin solid black;
	padding-top: .5em;
	margin-top: 1em;
	font-size: 75%;
	font-family: sans-serif;
}

p.license {
	padding-top: 1em;
	/*padding-bottom: 1em;*/
	border-top: thin solid black;
	margin-top: 1em;
	margin-bottom: 1em;
}

p.license img {
	display: inline;
	float: left;
	margin: auto;
	margin-right: .75em;
}

.address p.contact {
	margin-top: 1.25em;
}

img {display: block; margin: .5em auto;}

/*reference-list*/
ul.references {
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;
}
ul.references li {
	margin-left: 0; padding-left: 0;
}

ul.references li+li {margin-top: .85em; }
/* tables */
table { border-collapse: collapse; border: 1px solid black; width: 100%;}
td, th {text-align: left; border: 1px solid gray; padding: .25em;}

/* set alignment on the table, default is left */

table.align-left td + td,
table.align-left  th + td,
table.align-left  th + th {text-align: left;}
table.align-right td + td,
table.align-right  th + td,
table.align-right  th + th {text-align: right;}
table.align-center  td + td,
table.align-center th + td,
table.align-center th + th {text-align: center;}
